{% extends 'base_tabler.html'%}

<div class="bgded overlay" style="background-image:url('./static/images/giphy.gif');">

{% block title %}
Мед. Персонал
{% endblock %}

{% block product %}
 {% for products in page_obj %}
 <section id="introblocks">
      <ul class="nospace group">
        <li class="one_third">
          <figure>
              <a style="" class="imgover" href="">
                  <img style="width:200px" src="{{products.image.url}}">
              </a>
<!--              <a style="width:400px" class="imgover">-->
<!--            <img src="{{products.image}}" alt="200px" class="card-img-top">-->
<!--          </a>-->
            <figcaption>
              <h6 class="heading">{{products.name}}</h6>
              <p>{{products.descriptions}}</p>
            </figcaption>
              <div class="text-muted"><h3>{{products.price}}сом</h3> </div>

          </figure>
        </li>

      </ul>
    </section>
{% endfor %}
{% endblock %}