{% extends 'base_tabler.html'%}
    {% block title %}
        Мед. Персонал

    {% endblock %}

    {% block product %}
         {% for products in page_obj %}
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
   <section id="introblocks">
      <ul class="nospace group">
        <li class="one_third">
          <figure><a class="imgover" href="#"><img src="{{products.image.url}}"  alt=""></a>
            <figcaption>
              <h6 class="heading">{{products.name}}</h6>
              <p>{{products.descriptions}}</p>
                <h1>{{products.price}}сом за услуги</h1>
            </figcaption>
          </figure>
        </li>
      </ul>
   </section>
    <div class="clear"></div>
  </main>
</div>
        {% endfor %}
    {% endblock %}


